[submodule "home/vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "home/vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/minibufexpl"]
	path = .vim/bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule ".vim/bundle/taglist"]
	path = .vim/bundle/taglist
	url = https://github.com/mexpolk/vim-taglist.git
[submodule ".vim/bundle/tasklist"]
	path = .vim/bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule ".emacs.d/slime"]
	path = .emacs.d/slime
	url = https://github.com/nablaone/slime.git
[submodule ".emacs.d/swank-chicken"]
	path = .emacs.d/swank-chicken
	url = https://github.com/nickg/swank-chicken.git
